.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

table.tic-tac-toe-board {
    justify-content: center;
    border-collapse: collapse;
}

table.tic-tac-toe-board td {
    border: 1px solid #000;
}

table.tic-tac-toe-board td {
    height: 10rem;
    width: 10rem;

    font-size: 5rem;
}